<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidterm2020">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="Android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Setting" />
        <activity android:name=".OPEN_API_Task.AirTask" />
        <activity android:name=".ShowAllSchedule" />
        <activity android:name=".ScheduleUpdateActivity" />
        <activity android:name=".ScheduleRegistrationActivity" />
        <activity android:name=".ShowDetail" />
        <activity android:name=".Achieve" />
        <activity android:name=".Loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".Services.BootService" />
        <service android:name=".Services.RefreshDBService"/>
        <service
            android:name=".GpsTracker"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Receivers.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Receivers.RefreshDBReceiver" />
        <receiver android:name=".Receivers.Alarm_Receiver" />
    </application>

</manifest>